name: passing variables between jobs

on:
  workflow_dispatch:

# Intra-job {output -> input}:
# write to $GITHUB_OUTPUT and reference with ${{}} syntax
#
# Intra-job env var:
# write to $GITHUB_ENV and reference with $VAR
#
# Inter-job {output -> input}
# write to $GITHUB_OUTPU reference in job "outputs" set "needs" and reference with ${{}} syntax

jobs:
  producer:
    runs-on: ubuntu-24.04

    outputs:
      foo: ${{ steps.generate_foo.outputs.foo }}
    steps:
      - name: Generate and export foo
        id: generate_foo
        run: |
          foo="bar"

          # 1. Export as step output (used for passing values to other jobs)
          echo "foo=${foo}" >> "$GITHUB_OUTPUT"

          # 2. Export as job-level environment variable (only visible within this job)
          echo "FOO=${foo}" >> "$GITHUB_ENV"

      - name: Check values inside producer
        run: |
          echo "FOO (from GITHUB_ENV): $FOO"
          echo "foo (step output): ${{ steps.generate_foo.outputs.foo }}"

  consumer:
    runs-on: ubuntu-24.04
    needs: producer
    steps:
      - name: Inspect values inside consumer
        run: |
          echo "Producer output foo: ${{ needs.producer.outputs.foo }}"
          echo "FOO in consumer: ${FOO:-<UNSET>}"
