name: secrets and variables

# GitHub has built-in mechanism to store secrets and variables for
# 1. GitHub Organization (Enterprise only)
# 2. Repository
# 3. Environment (e.g. staging/production)

on:
  workflow_dispatch:

jobs:
  staging-environment:
    runs-on: ubuntu-24.04
    environment: staging
    env:
      EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRET }}
      EXAMPLE_REPOSITORY_VARIABLE: ${{ vars.EXAMPLE_REPOSITORY_VARIABLE }}
      EXAMPLE_ENVIRONMENT_SECRET: ${{ secrets.EXAMPLE_ENVIRONMENT_SECRET }}
      EXAMPLE_ENVIRONMENT_VARIABLE: ${{ vars.EXAMPLE_ENVIRONMENT_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secret (masked): $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo variable: $EXAMPLE_REPOSITORY_VARIABLE"
          echo "Env secret (masked): $EXAMPLE_ENVIRONMENT_SECRET"
          echo "Env variable: $EXAMPLE_ENVIRONMENT_VARIABLE"

  production-environment:
    runs-on: ubuntu-24.04
    environment: production
    env:
      EXAMPLE_REPOSITORY_SECRET: ${{ secrets.EXAMPLE_REPOSITORY_SECRET }}
      EXAMPLE_REPOSITORY_VARIABLE: ${{ vars.EXAMPLE_REPOSITORY_VARIABLE }}
      EXAMPLE_ENVIRONMENT_SECRET: ${{ secrets.EXAMPLE_ENVIRONMENT_SECRET }}
      EXAMPLE_ENVIRONMENT_VARIABLE: ${{ vars.EXAMPLE_ENVIRONMENT_VARIABLE }}
    steps:
      - name: Inspect values inside job
        run: |
          echo "Repo secret (masked): $EXAMPLE_REPOSITORY_SECRET"
          echo "Repo variable: $EXAMPLE_REPOSITORY_VARIABLE"
          echo "Env secret (masked): $EXAMPLE_ENVIRONMENT_SECRET"
          echo "Env variable: $EXAMPLE_ENVIRONMENT_VARIABLE"
